@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FA865B;
  --color-secondary: #AC1CA5;
  --color-accent: #F18DB2;
  --color-background: #EDE8CB;
  --color-foreground: #D1C893;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #FA865B;
    --color-secondary: #AC1CA5;
    --color-accent: #E53D74;
    --color-background: #EDE8CB;
    --color-foreground: #D1C893;
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
